@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@import 'tailwindcss';

@theme {
  --color-bg_grey: #121212;
  --color-reddit_orange: #D93900;
  --color-vinyl_black: #121212;
  --font-jersey: "Jersey 10", sans-serif;
}
